.board {
    display: table;
    border-collapse: collapse;
}

.row {
    display: table-row;
}

.square {
    display: table-cell;
    height: 25px;
    width: 25px;
    border: 1px solid black;
}

.o {
    background-color: orange;
}