.board {
    display: table;
    border-collapse: collapse;
}

.row {
    display: table-row;
}

.square {
    display: table-cell;
    height: 25px;
    width: 25px;
    border: 1px solid black;
}

.o {
    background-color: orange;
}

.i {
    background-color: red;
}

.z {
    background-color: blue;
}

.tetris-content {
    display: inline-block;
}

.tetris-board {
    display: inline-block;
    position: relative;
}

.tetris-board.message .board {
    opacity: 0.3;
}

.tetris-info {
    float: right;
    margin-left: 10px;
}

.tetris-info > div {
    margin-bottom: 10px;
}

.tetris-message {
    display: none;
}

.message .tetris-message {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.tetris-preview .square.null {
    border: none;
}