.board {
    display: table;
    border-collapse: collapse;
}

.row {
    display: table-row;
}

.square {
    display: table-cell;
    height: 25px;
    width: 25px;
    border: 1px solid black;
}

.o {
    background-color: orange;
}

.tetris-content {
    display: inline-block;
}

.tetris-board {
    display: inline-block;
    position: relative;
}

.tetris-board.pause .board {
    opacity: 0.3;
}

.tetris-score {
    float: right;
    margin-left: 10px;
}

.tetris-pause {
    display: none;
}

.pause .tetris-pause {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2em;
}